/* Navigation Bar */
#navbar{
    flex-direction: column;
}

Home Section
 #home{
    height: 100px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
/* Services Section */
#services{
    flex-direction: column;
    height: 399px;
}
 */
/* Clients Section */
#clients{
    overflow: hidden;
}

/* Contact Section */


/* Utility Classes */
.h-primary{
    font-size: 1.8rem;
}

